body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #1e1e1e;
}

header {
    background: #2a2a2a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 35px;
}

nav {
    background: #272727;
    padding: 10px;
    font-size: 20px;
}

nav a {
    color: #cccccc;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    color: #d8d8d8;
}

footer {
    background: #2a2a2a;
    color: #bbbbbb;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

.center-box {
    max-width: 900px;
    margin: 50px auto;
    background: #121212;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #444;
    color: #e0e0e0;
    font-family: monospace;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

.poop-img {
    width: 100px;
}

figure {
    text-align: center;
    margin-top: 20px;
}

figcaption {
    font-size: 14px;
    color: #ccc;
    margin-top: 8px;
}
